<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indiv.pechola.wms.mapper.RecordMapper">

    <select id="pageCustom" resultType="indiv.pechola.wms.entity.RecordRes">
        select r.*, g.name as goodsname, s.name as storagename, gt.name as goodstypename,
               (select u.name from user u where u.id=r.userId) as username,
               (select u.name from user u where u.id=r.adminId) as adminname
        from record r, goods g, storage s, goodsType gt
        ${ew.customSqlSegment}
    </select>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="indiv.pechola.wms.entity.Record">
        <result column="id" property="id" />
        <result column="goods" property="goods" />
        <result column="userId" property="userid" />
        <result column="adminId" property="adminid" />
        <result column="count" property="count" />
        <result column="createTime" property="createtime" />
        <result column="note" property="note" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        goods, userId, adminId, count, createTime, note
    </sql>

</mapper>
